<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/agenda.css">
    <title>Agenda</title>
</head>
<body>
    <section>
        <div class="leftbox">
            <div class="content">
                <h1>Events and Agendas</h1>
                <p>Below are the events and the agendas regarding to the respective event.</p>
            </div>

        </div>
        <div class="events">
            <ul>
                <li>
                    <div class="time">
                        <h2>24<br><span>December</span></h2>
                    </div>
                    <div class="details">
                        <h3> Disco Night</h3>
                        <p>
                            Differnt artists across the india will join the mega event and will make you groove to your finest.The event is 3 hours long.
                            Join fast for the unlimited fun.
                        </p>

                    
                    </div>
                    <div style="clear: none;"></div>
                    
                    </div>
                </li>
            </ul>
        </div>        
        <div class="events">
            <ul>
                
                <li>
                    <div class="time">
                        <h2>25<br><span>December</span></h2>
                    </div>
                    <div class="details">
                        <h3>Open Mic </h3>
                        <p>
                            The open mic is filled with varitites of entertaining events such as stand up comedy, Shaayri, Beat-Boxing and many more.
                            The event is packed with fun blaster. this event is 3 hours long.                     
                        </p>

                    
                    </div>
                    <div style="clear:none;"></div>
                    
                    
                    
                </li>
            </ul>
        </div>
        <div class="events">
            <ul>
                
                <li>
                    <div class="time">
                        <h2>26<br><span>December</span></h2>
                    </div>
                    <div class="details">
                        <h3>Christmas </h3>
                        <p>
                            The Festival of giving and lights is here. Come join us for the exciting shows, dramas, exhibition and many more.
                            Surprises are waiting for you at the door step.Starts at Midnight 12. Stay Tuned! 
                        </p>

                    
                    </div>
                    <div style="clear:none;"></div>
                    
                    
                    
                </li>
            </ul>
        </div>
    </section>
    
</body>
</html>