<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style3.css">
    <title>Galleryt</title>
</head>
<body>
    
    <div class="gallery">
        <h1>Our Gallery</h1>
    </div>
    <div><br><br></div>
    <div class="part2">
        <h1>Wedding Ceremony Gallery</h1>
    </div>
    <div class="wedding">
        
        <img src="../img/wedding1.jpeg" alt="image">
        <img src="../img/wedding2.jpg" alt="image">
        <img src="../img/wedding3.jpg" alt="image">
        <img src="../img/wedding4.jpg" alt="image">
    </div>
    <div><br><br></div>
    <div class="part2">
        <h1>DJ Gallery</h1>
    </div>
    <div class="wedding">
        
        <img src="../img/dj1.jpeg" alt="image">
        <img src="../img/dj2.jpg" alt="image">
        <img src="../img/dj3.jpg" alt="image">
        <img src="../img/dj4.jpg" alt="image">
    </div>
    <div><br><br></div>
    <div class="part2">
        <h1>Birthday Gallery</h1>
    </div>
    <div class="wedding">
        
        <img src="../img/birthday1.jpg" alt="">
        <img src="../img/birthday2.jpg" alt="">
        <img src="../img/birthday3.jpg" alt="">
        <img src="../img/birthday4.jpg" alt="">
    </div>
    <div><br><br></div>
    <div class="part2">
        <h1>Ring Ceremony Gallery</h1>
    </div>
    <div class="wedding">
        
        <img src="../img/ring1.jpeg" alt="">
        <img src="../img/ring2.jpg" alt="">
        <img src="../img/ring3.jpg" alt="">
        <img src="../img/ring4.jpeg" alt="">
    </div>
</body>
</html>