<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/speaker.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">   
<link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Speaker</title>
</head>
<body>
    
    <marquee class="mark" scrollamount="30" direction="right"><img src="../img/Sankush_logo.jpg" class="img" alt="">&ensp; Services provide by Us</marquee>
    <h1> 
        D'Js
    </h1>

    <div class="container">
        <div class="gallery">
            <img src="../img/dj alok.jpg " width="100%"alt="">
             <div class="desc"> DJ ALOK</div>

        </div>
        <div class="gallery">
            <img src="../img/dj rhea.jpg" width="100%">
             <div class="desc"> DJ RHEA</div>

        </div>
        <div class="gallery">
            <img src="../img/dj snake.jpg " width="100%">
             <div class="desc"> DJ SNAKE</div>

        </div>
        <div class="gallery">
            <img src="../img/dj shanaya.jpg " width="100%">
             <div class="desc"> DJ SHANAYA</div>

        </div>

         

    </div>
    <h1>
        Singers
    </h1>
    <div class="singers">
        <div class="Artist">
            <img src="../img/ritviz.jpg" width="100%">
             <div class="desc"> Ritviz</div>
        </div>
        <div class="Artist">
            <img src="../img/divine.jpg" width="100%">
             <div class="desc"> Divine</div>

        </div>
        <div class="Artist">
            <img src="../img/chainsmokers.jpg" width="100%">
             <div class="desc"> The Chainsmokers</div>

        </div>
        <div class="Artist">
            <img src="../img/arijit.jpg" width="100%">
             <div class="desc"> Arijit Singh</div>

        </div>
        <h1 class="m">
            Moral Speakers
        </h1>
    <div class="speakers">
            <div class="moral">
                <img src="../img/sandeep.jpg" >
                 <div class="desc"> Sandeep Maheswari</div>
            </div>
            <div class="moral">
                <img src="../img/vivek.jpg" >
                 <div class="desc"> Vivek Bindra</div>
    
            </div>
            <div class="moral">
                <img src="../img/ankur.jpg" >
                 <div class="desc"> Ankur Warikoo</div>
    
            </div>
            <div class="moral">
                <img src="../img/sjain.jpg" >
                 <div class="desc"> sandeep jain</div>
    
            </div>
 <section class="service" id="service">
    <h1 class="heading">Other services</h1>
    <div class="box-container">
        <div class="box">
            <i class="fa fa-map-marker"></i>
            <h3>Venue selector</h3>
            <p>Demo only</p>  
        </div>
        <div class="box">
            <i class="fa fa-envelope"></i>
            <h3>Invitation  card</h3>
            <p>Demo only</p>  
        </div>
        <div class="box">
            <i class="fa fa-music"></i>
            <h3>Entertainment</h3>
            <p>Demo only </p>
            </div>
        <div class="box">
            <i class="fa-solid fa-utensils"></i>
            
            <h3>Foods and drinks</h3>
            <p>Demo only</p>  
        </div>
        <div class="box">
            <i class="fa-solid fa-photo-film"></i>
            <h3>Photos and videos</h3>
            <p>Demo only</p>  
        </div>
    </div>
    <div class="bg"></div>

<div class="star-field">
<div class="layer"></div>
<div class="layer"></div>
<div class="layer"></div>
    
    
</body>
</html>